# Configuration file

~CONFIG_VERSION: 0.4.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# 用于更改 JEI 功能的高级配置。
##########################################################################################################

advanced {
    # 启用后，将新书签添加到书签列表的前面 [default: false]
    B:addBookmarksToFront=false

    # 在多个线程上并发构建搜索树，如果在加载 HEI 时 CPU 负载极高，请关闭此选项 [default: true]
    B:asyncSearchTreeBuilding=true

    # 启用后，搜索框会被移动至底部居中的位置。 [default: false]
    B:centerSearchBarEnabled=false
    B:debugModeEnabled=false

    # 选择 JEI 会直接将物品移入物品栏或是用鼠标将其捡起。
    # [默认: mouse_pickup]
    # [有效: [inventory, mouse_pickup]]
    S:giveMode=MOUSE_PICKUP

    # 输入物品列表的最大宽度。 [range: 4 ~ 100, default: 100]
    I:maxColumns=100

    # 合成表查询界面允许的最大高度。 [range: 175 ~ 5000, default: 350]
    I:maxRecipeGuiHeight=350

    # 定义 JEI 界面的信息提示中的 Mod 名称样式。留空以禁用。 [默认: blue italic] [有效: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=blue italic

    # 配方书签组的颜色（RGBA 格式）。 [range: -2147483648 ~ 2147483647, default: -1627324672]
    I:recipeBookmarkGroupColor=-1627324672

    # 启用超低内存使用模式，但可能会大大减慢搜索速度。 [default: false]
    B:ultraLowMemoryUsage=false
}


category {
    # 确定配方类别在 HEI 中的显示顺序。列出的类别会优先出现在 HEI 界面中。 [默认: []]
    S:categoryUidOrder <
     >
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# 杂项配置选项
##########################################################################################################

misc {
    # 是否隐藏右下角的配置按钮 [default: false]
    B:hideBottomRightCornerConfigButton=false

    # 禁用后，将不允许在悬停在材料上时通过鼠标点击查看配方和用途 [default: true]
    B:mouseClickToSeeRecipes=true

    # 当玩家处于创造模式时，显示用户隐藏的材料 [default: false]
    B:showHiddenIngredientsInCreative=false

    # 跳过显示 HEI 加载时的进度条，最多可节省几秒的加载时间 [default: false]
    B:skipShowingProgressBar=false

    # 通过将其添加到物品的工具提示中来显示配方是否已被更改 [default: true]
    B:tooltipShowRecipeBy=true
}


rendering {
    # 通过使用渲染缓冲区来停止极其频繁的材料绘制调用，将菜单中的 FPS 提高多达 2-3 倍。但动画和闪烁效果将无法正确应用。 [default: false]
    B:bufferIngredientRenders=false
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# 搜索框的相关选项。
##########################################################################################################

search {
    # 当按物品颜色搜索时，要求使用 "^" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:colorSearchMode=DISABLED

    # 当按创造标签页名搜索时，要求使用 "%" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=DISABLED

    # 当按模组名称搜索时，要求使用 "@" 作为前缀
    # [默认: require_prefix]
    # [有效: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=REQUIRE_PREFIX

    # 当按矿物词典搜索时，要求使用 "$" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=DISABLED

    # 当按资源 ID 搜索时，要求使用 "&" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:resourceIdSearchMode=DISABLED

    # 在搜索树中包含高级工具提示 [将重新加载搜索树] [default: false]
    B:searchAdvancedTooltips=false

    # 在搜索树中包含字符串的去除变音符号版本 [将重新加载搜索树] [default: false]
    B:searchStrippedDiacritics=false

    # 当按提示搜索时，要求使用 "#" 作为前缀
    # [默认: enabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=ENABLED
}


