# Configuration file

~CONFIG_VERSION: 0.1.0

world-1120329598 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1707300126 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@greg
    B:overlayEnabled=true
}


world-1831920287 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world113318802 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@nae

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1449682564 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=ZPM
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world175363313 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world534456417 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@greg
    B:overlayEnabled=true
}


world580833093 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


