# Configuration file

client {
    B:disableMod=false
    B:enableAllDirs=false

    # 本模组当前版本被发现有严重问题时进行通知。强烈建议保持此功能开启。
    B:enableBuildCheck=true
    B:enableDoubleTap=false

    # 关于新更新的提醒，每天最多一次。
    B:enableUpdateNotifications=true
    B:flyOnGround=false
    I:flySpeedBoost=3
    S:keyModOptionsMenu=NONE
    S:keyModSneakToggle=NONE
    S:keyModSprintHold=NONE
    S:keyModSprintToggle=NONE
    I:keyOptionsMenu=24
    I:keySneakToggle=21
    I:keySprintHold=29
    I:keySprintToggle=34
    S:sprintKeyMode=TAP
}


