# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:BabyCaveSpider=true
    B:BabyGhast=false
    B:BabySpider=true
    B:"Battletower Golem"=false
    B:BlackberrySlime=false
    B:Blaze=false
    B:BlindingEnderman=false
    B:BlindingSilverfish=false
    B:BlueberrySlime=false
    B:BrainyZombie=true
    B:BrutePigZombie=false
    B:BruteSkeleton=true
    B:BruteWitherSkeleton=true
    B:BruteZombie=true
    B:CaramelSlime=false
    B:CaveSpider=true
    B:CinderBlaze=false
    B:ConflagrationBlaze=false
    B:Creeper=false
    B:CultistCleric=false
    B:CultistKnight=false
    B:CultistLeader=false
    B:CultistPortalGreater=false
    B:CultistPortalLesser=false
    B:DarkCreeper=false
    B:DeathCreeper=false
    B:DesertSpider=true
    B:DirtCreeper=false
    B:DominationWitch=true
    B:DoomCreeper=false
    B:DrowningCreeper=false
    B:ElderGuardian=false
    B:EldritchCrab=false
    B:EldritchGolem=false
    B:EldritchGuardian=false
    B:EldritchWarden=false
    B:EmberBlaze=false
    B:EnderCreeper=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:FighterGhast=false
    B:FireCreeper=false
    B:FireSkeleton=true
    B:FireZombie=true
    B:Firebat=false
    B:FishingPigZombie=false
    B:FishingSilverfish=false
    B:FishingZombie=true
    B:FlyingCaveSpider=true
    B:FlyingLavaSlime=false
    B:FlyingSilverfish=false
    B:FlyingSpider=true
    B:GatlingSkeleton=true
    B:GatlingWitherSkeleton=true
    B:Ghast=false
    B:Giant=false
    B:GiantBrainyZombie=true
    B:GiantPigZombie=false
    B:GiantSkeleton=true
    B:GiantSpider=true
    B:GiantWitherSkeleton=true
    B:GiantZombie=true
    B:GrapeSlime=false
    B:GravelCreeper=false
    B:Guardian=false
    B:HardenedLavaSlime=false
    B:HellfireBlaze=false
    B:HungryPigZombie=false
    B:HungrySpider=true
    B:HungryZombie=true
    B:Husk=true
    B:HuskZombie=true
    B:IcyEnderman=false
    B:IllusionIllager=false
    B:InfernoBlaze=false
    B:InhabitedZombie=true
    B:JoltBlaze=false
    B:JumpingCreeper=false
    B:KingGhast=false
    B:KnightPigZombie=false
    B:KnightSkeleton=true
    B:KnightWitherSkeleton=true
    B:LavaSlime=false
    B:LemonSlime=false
    B:LightningCreeper=false
    B:LightningEnderman=false
    B:MindSpider=true
    B:MiniCreeper=false
    B:MiniEnderman=false
    B:MirageEnderman=false
    B:MotherCaveSpider=true
    B:MotherSpider=true
    B:NinjaSkeleton=true
    B:NinjaWitherSkeleton=true
    B:PaleSpider=true
    B:Pech=false
    B:PigZombie=false
    B:PlaguePigZombie=false
    B:PlagueZombie=true
    B:PoisonSilverfish=false
    B:PoisonSkeleton=true
    B:PoisonSpider=true
    B:QueenGhast=false
    B:ShadowsWitch=true
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:SniperSkeleton=true
    B:SniperWitherSkeleton=true
    B:SpecialBlaze=false
    B:SpecialCaveSpider=true
    B:SpecialCreeper=false
    B:SpecialEnderman=false
    B:SpecialGhast=false
    B:SpecialLavaSlime=false
    B:SpecialPigZombie=false
    B:SpecialSilverfish=false
    B:SpecialSkeleton=true
    B:SpecialSlime=false
    B:SpecialSpider=true
    B:SpecialWitch=true
    B:SpecialWitherSkeleton=true
    B:SpecialZombie=true
    B:Spellbat=false
    B:Spider=true
    B:SpitfireSkeleton=true
    B:SpitfireWitherSkeleton=true
    B:SplittingCreeper=false
    B:StickyLavaSlime=false
    B:StrawberrySlime=false
    B:Stray=true
    B:StraySkeleton=true
    B:TaintCrawler=false
    B:TaintSeed=false
    B:TaintSeedPrime=false
    B:TaintSwarm=false
    B:Taintacle=false
    B:TaintacleGiant=false
    B:TaintacleTiny=false
    B:ThaumSlime=false
    B:ThiefEnderman=false
    B:ToughSilverfish=false
    B:UndeadWitch=true
    B:UnholyGhast=false
    B:VampirePigZombie=false
    B:Vex=false
    B:VindicationIllager=false
    B:VolatileLavaSlime=false
    B:WatermelonSlime=false
    B:WebCaveSpider=true
    B:WebSpider=true
    B:WildfireBlaze=false
    B:WildsWitch=true
    B:WindWitch=true
    B:Wisp=false
    B:Witch=true
    B:WitchCaveSpider=true
    B:WitchSpider=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:beneath.shadow=false
    B:"botania:pinkWither"=false
    B:bound_soul=true
    B:corruption_avatar=false
    B:creeper_boss=false
    B:cyberzombie=true
    B:cyclops=false
    B:"draconicevolution:ChaosGuardian"=false
    B:dread_beast=false
    B:dread_ghoul=false
    B:dread_knight=false
    B:dread_lich=false
    B:dread_scuttler=false
    B:dread_thrall=false
    B:"ebwizardry:blaze_minion"=false
    B:"ebwizardry:evil_wizard"=false
    B:"ebwizardry:husk_minion"=true
    B:"ebwizardry:ice_wraith"=false
    B:"ebwizardry:lightning_wraith"=false
    B:"ebwizardry:magic_slime"=false
    B:"ebwizardry:remnant"=false
    B:"ebwizardry:silverfish_minion"=false
    B:"ebwizardry:skeleton_minion"=true
    B:"ebwizardry:spider_minion"=true
    B:"ebwizardry:stray_minion"=true
    B:"ebwizardry:vex_minion"=false
    B:"ebwizardry:wither_skeleton_minion"=true
    B:"ebwizardry:zombie_minion"=true
    B:evolved_boss_blaze=false
    B:evolved_boss_ghast=false
    B:evolved_coldblaze=false
    B:evolved_creeper=false
    B:evolved_enderman=false
    B:evolved_skeleton=true
    B:evolved_skeleton_boss=false
    B:evolved_spider=true
    B:evolved_witch=true
    B:evolved_zombie=true
    B:gorgon=false
    B:if_hydra=false
    B:if_troll=false
    B:juicer=false
    B:pirate_mimic=false
    B:siren=false
    B:sludgeling=false
    B:spider_queen=false
    B:stymphalianbird=false
    B:tconstruct.blueslime=false
    B:thaumicaugmentation.autocaster_eldritch=false
    B:thaumicaugmentation.eldritch_golem=false
    B:thaumicaugmentation.eldritch_guardian=false
    B:thaumicaugmentation.eldritch_warden=false
    B:thaumicaugmentation.primal_wisp=false
    B:thebetweenlands.angler=false
    B:thebetweenlands.ash_sprite=false
    B:thebetweenlands.barrishee=false
    B:thebetweenlands.blood_snail=false
    B:thebetweenlands.boulder_sprite=false
    B:thebetweenlands.bubbler_crab=false
    B:thebetweenlands.chiromaw=false
    B:thebetweenlands.chiromaw_greebling_rider=false
    B:thebetweenlands.chiromaw_matriarch=false
    B:thebetweenlands.crypt_crawler=false
    B:thebetweenlands.dark_druid=false
    B:thebetweenlands.dreadful_mummy=false
    B:thebetweenlands.emberling_shaman=false
    B:thebetweenlands.fortress_boss=false
    B:thebetweenlands.fortress_boss_blockade=false
    B:thebetweenlands.fortress_boss_spawner=false
    B:thebetweenlands.fortress_boss_turret=false
    B:thebetweenlands.gas_cloud=false
    B:thebetweenlands.jellyfish=false
    B:thebetweenlands.jellyfish_cave=false
    B:thebetweenlands.large_sludge_worm=false
    B:thebetweenlands.leech=false
    B:thebetweenlands.lurker=false
    B:thebetweenlands.moving_spawner_hole=false
    B:thebetweenlands.peat_mummy=false
    B:thebetweenlands.pyrad=false
    B:thebetweenlands.shambler=false
    B:thebetweenlands.silt_crab=false
    B:thebetweenlands.sludge=false
    B:thebetweenlands.sludge_menace=false
    B:thebetweenlands.small_sludge_worm=false
    B:thebetweenlands.smoll_sludge=false
    B:thebetweenlands.spirit_tree_face_large=false
    B:thebetweenlands.spirit_tree_face_small=false
    B:thebetweenlands.stalker=false
    B:thebetweenlands.swamp_hag=false
    B:thebetweenlands.swarm=false
    B:thebetweenlands.tar_beast=false
    B:thebetweenlands.termite=false
    B:thebetweenlands.tiny_sludge_worm=false
    B:thebetweenlands.tiny_sludge_worm_helper=false
    B:thebetweenlands.wall_lamprey=false
    B:thebetweenlands.wall_living_root=false
    B:thebetweenlands.wight=false
    B:thebetweenlands.wild_emberling=false
    B:touhou_little_maid.fairy=false
    B:touhou_little_maid.rinnosuke=false
    B:wasp=false
    B:wood_mimic=false
}


